# Byte-compiled/optimised/DLL files
__pycache__/
*.py[cod]
*$py.class

# C-extensions
*.so

# Distributing/packing
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.MANIFEST
*.spec

# Unit test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetest.xml
coverage.xml
*.coverage
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx documentation
docs/modules
public/

# Jupyter notebooks
.ipynb_checkpoints

# Environment specs
.env
.venv
env/
venv/
ENV/

# Developer tool caches
.mypy_cache
.dmypy.json
dmypy.json
.ruff_cache/
.vscode

# OS-related
.DS_Store

# Scratch files
*scratch*

# Cookiecutter artefacts
START.md
